.big_cards_container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  max-width: 1200px;
  margin: 0 auto;
}
.big_card {
  margin: 10px;
  background-color: aquamarine;
}
